body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #000; /* Базовый фон */
  position: relative;
  z-index: -11;
}

.black {
  z-index: -10;
  background-image: url('./img/back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  filter: blur(50px);
  position: relative; /* Для позиционирования псевдоэлемента */
}

.black::after {
  filter: blur(50px);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background: radial-gradient(ellipse 80% 60% at center, #3BAFDA 30%, transparent 55%),
    radial-gradient(ellipse 60% 90% at bottom right, #FF40FF 35%, transparent 95%),
    radial-gradient(ellipse 70% 50% at 50% 30%, #300dad 40%, transparent 80%); /* Градиент */
  z-index: 1; /* Псевдоэлемент должен быть поверх фона */
  opacity: 0; /* Начальная прозрачность */
  animation: pulse 3s infinite alternate; /* Анимация изменения прозрачности */
}

/* Анимация прозрачности */
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
